URxvt.scrollBar: False
URxvt.font: xft:Noto Sans Mono:pixelsize=12
URxvt.internalBorder: 40

*.background:  #222
*.foreground:  #fff
*.accent:      #fff
*.cursorColor: #03a9f4

! black
URxvt.color0:  #2e3436
URxvt.color8:  #555753
! red
URxvt.color1:  #fa5e5b
URxvt.color9:  #fa5e5b
! green
URxvt.color2:  #16c98d
URxvt.color10: #16c98d
! yellow
URxvt.color3:  #ffc83f
URxvt.color11: #ffc83f
! blue
URxvt.color4:  #288ad6
URxvt.color12: #288ad6
! magenta
URxvt.color5:  #fc9fdf
URxvt.color13: #fc9fdf
! cyan
URxvt.color6:  #82e4fa
URxvt.color14: #82e4fa
! white
URxvt.color7:  #e7e7e7
URxvt.color15: #eeeeee
