* {
  font-family: "undefined";
}

.tabbrowser-tab {
  font-size: 12px !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tab-line {
  display: none !important;
}

.tabbrowser-tab[visuallyselected][style*=transform] + .tabbrowser-tab[style*=transform] .tab-content::after,
.tabbrowser-tab[style*=transform]:not([visuallyselected]) .tab-content::before,
.tabbrowser-tab[style*=transform] + .tabbrowser-tab:not([visuallyselected]) .tab-content::before,
.tabbrowser-tab:not([visuallyselected]):not(:hover):not([multiselected]) + .tabbrowser-tab:not([visuallyselected]):not(:hover):not([multiselected]) .tab-content::before,
#tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow]) .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not(:hover):not([multiselected]) .tab-content::after {
  opacity: 0.2 !important;
}

.tab-content::before,
.tab-content::after {
	content: "" !important;
	display: -moz-box !important;
	position: absolute !important;
	background-color: currentColor !important;
	width: 1px !important;
	height: 20px !important;
	transform: translateY(-10px) !important;
	opacity: 0 !important;
}

.tab-content::before {
	left: 0 !important;
}

.tab-content::after {
	right: 0 !important;
}

.tab-background {
  border: 0 !important;
}

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

#tracking-protection-icon-box {
  visibility: collapse !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon {
  display: none !important;
}

#urlbar #identity-icon {
	opacity: 0 !important;
	-moz-margin-end: -1.1em !important;
}

#nav-bar {
	box-shadow: none !important;
}

#urlbar, .searchbar-textbox {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#nav-bar {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

#nav-bar:focus-within {
  height: auto;
  opacity: 1;
  overflow: visible;
}


tab:only-of-type {
  display:none;
}

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    min-height: initial !important;
}

tab {
    line-height: 32px; height: 32px;
}

.tabs-newtab-button {
    display: none;
}

#tabbrowser-tabs:hover .tabs-newtab-button {
    display: block;
}

#main-window :-moz-any(#back-button, #forward-button) {
  display: none;
}
